<div class="row">
  <!-- image one -->
  <div class="col-md-6">
    <div class="card-plain">
        <div class="card-body ">
          <div class="card img-card mx-auto shadow">
              <img src="/assets/img1.jpg" class="card-img-top" alt="selfie image">
              <div class="card-body topic">
                <p class="card-text"><i class="fas fa-bookmark" style="color: #F55E54"></i> Your <b>Normal selfie</b> image.</p>
              </div>
              
          </div>
          <div class="card-plain img-card mx-auto">
              <div class="card-body contain">
                <p class="card-text text-justify decription">Upload selfie image which is<span class="note" *ngIf="!expandDis1"  (click)="toggleExp1()"> #more</span> 
                  <span *ngIf="expandDis1">taken with <i> <b>any angle</b> </i>  and the photo graph should <b> include the supportive hand </b>to the camera as shown above.
                    <b class="note"  (click)="toggleExp1()"> #less</b></span></p>
              </div>
          </div>
            <div class="border rounded px-4 pt-2 shadow">
              <form [formGroup] = "uploadBuilder">
                  <div class="form-group">
                    <label for="exampleFormControlFile1"><b class="decription">Row Selfie Image input</b></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileChange1($event)">
                  </div>
              </form>
          </div>
        </div>
    </div>
  </div>
  
  <!-- image two  -->
  <div class="col-md-6">
      <div class="card-plain">
          <div class="card-body contain">
              <div class="card img-card  mx-auto shadow">
                  <img src="/assets/img2.jpg" class="card-img-top" alt="expected image">
                  <div class="card-body topic">
                      <p class="card-text"><i class="fas fa-bookmark" style="color: #F55E54"></i> Its <b> Expected selfie</b> image.</p>
                    </div>
              </div>
              <div class="card-plain img-card mx-auto">
                  <div class="card-body">
                    <p class="card-text text-justify decription">Upload a image which is <span class="note" *ngIf="!expandDis2" (click)="toggleExp2()"> #more</span> 
                      <span *ngIf="expandDis2">taken with the same angle you used. 
                      But you should <b> not use any of your hand</b> to take the selfie image as shown above. <b class="note"  (click)="toggleExp2()"> #less</b></span>
                    </div>
              </div>



              <div class="border rounded px-4 pt-2 shadow">
                <form [formGroup]= 'uploadBuilder2'>
                  <div class="form-group">
                    <label for="exampleFormControlFile1"><b class="decription">Expected Selfie Image input</b></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1"  
                        (change)="onFileChange2($event)"/>
                        
                  </div>
              </form>
              </div>



              
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-2">
      <div class="card-body">
        <b class="card-text decription" style="line-height: 5px;">Upload only one couple of photos at a time</b><br>
        <div class="sub-heading">Please upload as much as you can.</div>
          <button class="btn btn-primary btn-lg" (click)="submit($event.target.files)" type="button" [disabled]="spinner">
            <span *ngIf="!spinner">Upload: {{uploadCount}}</span>
            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="padding: 10px;"></span>
            <span *ngIf="spinner" style="padding: 3px;">Loading...</span>
          </button>
          <div class="sub-heading" *ngIf="errorState" style="color: #F55E54">No any file selected for fist image.</div>
      </div>
      
    </div>
    
  </div>
</div>